:root {
    --primary-light: #520000;
    --primary-dark: #000000;
    --black: #000000;
    --white: #efefef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-container {
    width: 100%; 
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home/calesa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: left;
}


.home-content {
  display: flex;
  flex-direction: column;
  align-items: start; 
  justify-content: flex-end;
 width: 100%;
 
}
.home-items{
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 70px;
    padding: 0 40px;
}

.home-items h1 {
  font-size: 100px;
  color: var(--white);
  font-weight: 500;
  font-family: "Libre Baskerville";
  overflow: hidden;  
  white-space: nowrap; 
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  animation: typing 3s steps(26, end) infinite; 
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.home-items h3 {
  font-size: 30px;
  color: var(--white);
  font-weight: 500;
  text-align: center;
  font-family: "Libre Baskerville";
  margin: 0;
  text-transform: uppercase;
  
}

.home-items p {
  font-size: 30px;
  color: var(--white);
  text-align: center;
  font-family: "Libre Baskerville";
  text-align: center;
  text-transform: uppercase;

}

.home-items button{
    background:var(--primary-light);
    margin: 20px 0;
    color:var(--white);
    font-size: 20px;
    padding:10px 25px;
}
.home-items button:focus,
.home-items button:hover{
    background:var(--primary-light) !important;
    color:var(--white) !important;
}

#home-container-2{
    display: flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
    padding:70px 50px;
}

#home-container-2 .card{
  border:1px solid var(--primary-light);
  transition: 0.2s;
}
#home-container-2 .card:hover{
  border:2px solid var(--primary-light);
  transition: 0.2s;
}
#home-container-2 .card img{
  height: 300px;
  width: 350px;
}
@media(max-width:1300px){
.home-items{
    width: 60%;
}
}

@media(max-width:998px){
    .home-items{
        width: 60%;
    }

    .home-items h1 {
        font-size: 50px;
        white-space: nowrap; 
      }
      
      .home-items h3 {
        font-size: 20px;
        margin: 0;
        
      }
      
      .home-items p {
        font-size: 18px;
      
      }
      
      .home-items button{
          margin: 20px 0;
          font-size: 17px;
          padding:10px 25px;
      }
}


@media(max-width:650px){
    .home-items{
        width: 100%;
    }
}

